<input id="filterName"
       type="search"
       placeholder="Search in contacts by name"
       minlength="3"
       ng-model="filterName"
       ng-model-options="{debounce : 250}">

<ul>
    <li ng-repeat="contact in contactListTest | filter:filterName">
        {{ contact.firstName }} , {{ contact.lastName }}
        <button ng-click="deleteActualContact()">Edit</button>
        <button nk-click="updateActualContact()">Delete</button>
    </li>
</ul>

<button>
    <a href="#!/view2">+</a>
</button>