<!-- USERS -->
<div class="ge-list ge-bg-light-gray">
	<div class="ge-list-title">
		Users
	</div>      

	<ul>
		<li ng-repeat="user in users" ng-class="{ 'ge-list-item-selected': user.userName === currentUserName }">
			<a href="#!/users/show/{{ user.userName }}">
				{{ user.userName}}
				<div class="ge-list-item-actions" style="display: none; /* FOR DEV ONLY */">
					<a href="#!/users/edit/{{ user.userName }}" class="ge-action ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</a>
		</li>
	</ul>

	<div class="ge-footer-bar ge-list-footer">
		<a href="#!/users/new" class="ge-action ge-action-animated ge-text-blue"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>


<!-- NEW -->
<div class="ge-details ge-bg-white" ng-if="state === 'new'">

	<div class="ge-details-content">
		
		<div class="ge-details-title">Create new user</div>

		<div class="ge-details-form ge-form">

			<div class="ge-form-group" ng-class="{ 'ge-form-group-with-errors': errors.userName[0] }">
				<input type="text" name="userName" placeholder="User name" ng-model="user.userName">
				<div class="ge-form-error" ng-if="errors.userName[0]">{{ errors.userName[0] }}</div>
			</div>


			<div class="ge-form-group" ng-class="{ 'ge-form-group-with-errors': errors.password[0] }">
				<input type="password" name="password" placeholder="Password" ng-model="user.password">
				<div class="ge-form-error" ng-if="errors.password[0]">{{ errors.password[0] }}</div>
			</div>

			<div class="ge-form-group">
				<label>
					<input type="checkbox" name="role" ng-model="user.role" ng-true-value="'ADMIN'" ng-false-value="'USER'">
					Admin
				</label>
			</div>

		</div>
	</div>

	<div class="ge-footer-bar ge-details-footer">
		<a href="javascript:void(0)" class="ge-action ge-action-animated ge-text-blue" ng-click="createUser()"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
	</div>
</div>

<!-- EDIT -->
<div class="ge-details ge-bg-white" ng-if="state === 'edit'">

	<div class="ge-details-content">

		<div class="ge-details-title">Edit user</div>

		<div class="ge-details-form ge-form">

			<div class="ge-form-group">
				<input type="text" name="userName" placeholder="User name" ng-model="user.userName">
				<div class="ge-form-error"></div>
			</div>

			<div class="ge-form-group">
				<input type="password" name="password" placeholder="Password" ng-model="user.password">
				<div class="ge-form-error"></div>
			</div>


			<div class="ge-form-group">
				<input type="password" name="password_confirmation" placeholder="Password confirmation" ng-model="passwordConf">
				<div class="ge-form-error"></div>
			</div>

			<div class="ge-form-group">
				<label>
					<input type="checkbox" name="role" ng-checked="user.role == 'ADMIN'" ng-model="user.role">
					Admin
				</label>
			</div>

		</div>
	</div>

	<div class="ge-footer-bar ge-details-footer">
		<a href="javascript:void(0)" class="ge-action ge-action-animated ge-text-blue" ng-click="editUser()"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
	</div>
</div>


<!-- SHOW -->
<div class="ge-details ge-bg-white" ng-if="state === 'show'">

	<div class="ge-details-content">

		<div class="ge-details-title">User details</div>

		<ul class="ge-details-list">

			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-user" aria-hidden="true"></i>
					User name
				</div>
				<div class="ge-details-list-value">{{ user.userName }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-user" aria-hidden="true"></i>
					Role
				</div>
				<div class="ge-details-list-value">{{ user.role }}</div>
			</li>

		</ul>

		</div>
	</div>
</div>

