<!-- GROUPS -->
<div class="ge-list ge-bg-light-gray">
	<div class="ge-list-title">
		Groups
	</div>      

	<ul>
		<li ng-repeat="group in groups" ng-class="{ 'ge-list-item-selected': group.name == currentGroupId }">
			<a href="#!/groups/{{ group.name }}/contacts">{{ group.displayName}}</a>
			<div class="ge-list-item-actions">
				<a href="#!/groups/edit/{{ group.name }}" class="ge-action ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<!--<a href="javascript:void(0)" class="ge-action ge-text-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
			</div>
		</li>
	</ul>

	<div class="ge-footer-bar ge-list-footer">
		<a href="#!/groups/new" class="ge-action ge-action-animated ge-text-blue"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>

<!-- CONTACTS -->
<div class="ge-list ge-bg-x-light-gray">
	<div class="ge-list-search">
		<input id="filterName" type="text" placeholder="Start typing..." ng-model="filterName" ng-model-options="{ debounce : 250 }">
	</div>

	<ul>
		<li ng-repeat="contact in contacts | filter:{$:filterName}" ng-class="{ 'ge-list-item-selected': contact.id == currentContactId }">
			<a href="#!/groups/{{ currentGroupId }}/contacts/show/{{ contact.id }}">{{ contact.firstName }} , {{ contact.lastName }}</a>
			<div class="ge-list-item-actions">
				<a href="#!/groups/{{ currentGroupId }}/contacts/edit/{{ contact.id }}" class="ge-action ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="javascript:void(0)" class="ge-action ge-text-red" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
			</div>
		</li>
	</ul>

	<div class="ge-footer-bar ge-list-footer">
		<a href="#!/groups/{{ currentGroupId }}/contacts/new" class="ge-action ge-action-animated ge-text-blue"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>


<!-- CONTACT SHOW -->
<div class="ge-details ge-bg-white" ng-if="state === 'show'">

	<div class="ge-details-content">
		
		<div class="ge-details-title">{{ contact.firstName }} {{ contact.lastName }}</div>

		<div class="ge-details-subtitle">
			<i class="fa fa-link" aria-hidden="true"></i>
			Member of group '<a href="#" class="ge-text-blue">Apple</a>'
		</div>

		<ul class="ge-details-list">
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-user" aria-hidden="true"></i>
					First name
				</div>
				<div class="ge-details-list-value">{{ contact.firstName }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-user" aria-hidden="true"></i>
					Last name
				</div>
				<div class="ge-details-list-value">{{ contact.lastName }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					Work email
				</div>
				<div class="ge-details-list-value">{{ contact.workEmail }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					Home email
				</div>
				<div class="ge-details-list-value">{{ contact.homeEmail }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-user" aria-hidden="true"></i>
					Nick name
				</div>
				<div class="ge-details-list-value">{{ contact.nickName }}</div>
			</li>
			<li>
				<div class="ge-details-list-key">
					<i class="fa fa-suitcase" aria-hidden="true"></i>
					Job title
				</div>
				<div class="ge-details-list-value">{{ contact.jobTitle }}</div>
			</li>
		</ul>
	</div>

	<div class="ge-footer-bar ge-details-footer">
		<a href="#!/groups/{{ currentGroupId }}/contacts/edit/{{ contact.id }}" class="ge-action ge-action-animated ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
		<a href="javascript:void(0)" class="ge-action ge-action-animated ge-text-red" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
	</div>
</div>

<!-- NEW -->
<div class="ge-details ge-bg-white" ng-if="state === 'new'">

	<div class="ge-details-content">
		
		<div class="ge-details-title">Create new contact</div>

		<div class="ge-details-form ge-form">
					
			<div class="ge-form-group ge-form-group-with-errors">
				<input type="text" name="first_name" placeholder="First name" ng-model="contact.firstName">
				<div class="ge-form-error">This field is required.</div>
			</div>
			
			<div class="ge-form-group">
				<input type="text" name="last_name" placeholder="Last name" ng-model="contact.lastName">
			</div>

			<div class="ge-form-group">
				<input type="text" name="work_email" placeholder="Work email" ng-model="contact.workEmail">
			</div>

			<div class="ge-form-group">
				<input type="text" name="home_email" placeholder="Home email" ng-model="contact.homeEmail">
			</div>

			<div class="ge-form-group">
				<input type="text" name="nick_name" placeholder="Nick name" ng-model="contact.nickName">
			</div>

			<div class="ge-form-group">
				<input type="text" name="job_title" placeholder="Job title" ng-model="contact.jobTitle">
			</div>

		</div>
	</div>

	<div class="ge-footer-bar ge-details-footer">
		<a href="javascript:void(0)" class="ge-action ge-action-animated ge-text-blue" ng-click="createContact()"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
	</div>
</div>

<!-- EDIT -->
<div class="ge-details ge-bg-white" ng-if="state === 'edit'">

	<div class="ge-details-content">
		
		<div class="ge-details-title">Edit contact</div>

		<div class="ge-details-form ge-form">
					
			<div class="ge-form-group ge-form-group-with-errors">
				<input type="text" name="first_name" placeholder="First name" ng-model="contact.firstName">
				<div class="ge-form-error">This field is required.</div>
			</div>
			
			<div class="ge-form-group">
				<input type="text" name="last_name" placeholder="Last name" ng-model="contact.lastName">
			</div>

			<div class="ge-form-group">
				<input type="text" name="work_email" placeholder="Work email" ng-model="contact.workEmail">
			</div>

			<div class="ge-form-group">
				<input type="text" name="home_email" placeholder="Home email" ng-model="contact.homeEmail">
			</div>

			<div class="ge-form-group">
				<input type="text" name="nick_name" placeholder="Nick name" ng-model="contact.nickName">
			</div>

			<div class="ge-form-group">
				<input type="text" name="job_title" placeholder="Job title" ng-model="contact.jobTitle">
			</div>

		</div>
	</div>

	<div class="ge-footer-bar ge-details-footer">
		<a href="javascript:void(0)" class="ge-action ge-action-animated ge-text-blue" ng-click="editContact()"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
	</div>
</div>