$white: #FFF;

$x-light-gray: #f9f9f9;
$light-gray: #f0f1f2;
$gray: #e1e2e5;
$dark-gray: #d4d4d4;
$x-dark-gray: #bbb;

$blue: #005cb9;
$blue-hover: #0253a5;
$blue-active: #0060c1;

$red: #b90000;
$red-hover: #b30000;
$red-active: #c30000;

$green: #3db900;
$green-hover: #38a900;
$green-active: #41c500;

$black: #3d3d3d;