<!-- GROUPS -->
<div class="ge-list ge-bg-light-gray">
	<div class="ge-list-title">
		Groups
	</div>      

	<ul>
		<li ng-repeat="group in groups" ng-class="{ 'ge-list-item-selected': group.name == currentGroupId }">
			<a href="#!/groups/{{ group.name }}/contacts">
				{{ group.displayName}}
				<div class="ge-list-item-actions">
					<a href="#!/groups/edit" class="ge-action ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
					<a href="#" class="ge-action ge-text-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</div>
			</a>
		</li>
	</ul>

	<div class="ge-footer-bar ge-list-footer">
		<a href="#!/groups/new" class="ge-action ge-action-animated ge-text-blue"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>

<!-- CONTACTS -->
<div class="ge-list ge-bg-x-light-gray">
	<div class="ge-list-search">
		<input id="filterName"
       type="text"
       placeholder="Start typing..."
       ng-model="filterName"
       ng-model-options="{debounce : 250}">
	</div>

	<ul>
		<li ng-repeat="contact in contactList | filter:filterName">
			{{ contact.firstName }} , {{ contact.lastName }}
			<div class="ge-list-item-actions">
				<a href="#!/groups/:groupId/contacts/edit" class="ge-action ge-text-green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#" class="ge-action ge-text-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
			</div>
		</li>
	</ul>

	<div class="ge-footer-bar ge-list-footer">
		<a href="#!/groups/:groupId/contacts/new" class="ge-action ge-action-animated ge-text-blue"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>